.myUpload {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
}

div.selection {
    display: none;
    position: absolute;
    border: 1px dashed gray;
    z-index: 9000;
    cursor: default;
}

div.visible {
    display: block;
}

.selected {

}